site_name: s3-dart-lite
theme:
  name: material
  features:
    - navigation.expand
    - navigation.sections
    - navigation.top
    - toc.follow
    - content.code.copy

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - API Reference: api_reference.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - search
